body {
	margin: 0;
}

.top_bar{
	background-color: #efefef;
	width: 100%;
	text-align: left;
}

.top_menu{
	font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
}

.normal_text{
	font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
}

h1{
	font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
}

.message{
	font-family: "Muli", "Helvetica Neue", Helvetica, sans-serif;
	background-color: #ffff00;
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}

input {
	font-size: 25px;
}